example1.views=data/Exp1/views
example1.citation_query=data/Exp1/citation_query
example1.connection=data/Exp1/connection
example2.views=data/Exp2/views
example2.citation_query=data/Exp2/citation_query
example2.connection=data/Exp2/connection
example3.views=data/Exp3/views
example3.citation_query=data/Exp3/citation_query
example3.connection=data/Exp3/connection
real_example.views=data/Real_Exp/views
real_example.citation_query=data/Real_Exp/citation_query
real_example.connection=data/Real_Exp/connection
test.views=dblp_example/views
test.citation_query=dblp_example/citation_queries
test.connection=dblp_example/connection