

#viewPane {
	-fx-background-image: url("bg2.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-background-opacity: 0.5;
}

#viewPaneChild {
	-fx-background-color:  linear-gradient(lightgray, gray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#loginPaneChild {
    -fx-background-color:  linear-gradient(lightgray, gray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;
}

#loginPane {
    -fx-background-image: url("bg1.jpg");
    -fx-background-color:  linear-gradient(gray, DimGrey);
}

#btnLogin {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#B83232, #722626);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#btnLogin:hover {
    -fx-background-color: linear-gradient(#722626, #B83232);
}

.button {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#title {
   -fx-font-size: 38px;
   -fx-font-family: "Arial Black";
   -fx-fill: #4E4E4E;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 2 , 3 );
}
#viewTitle {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #cccccc;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 3, 0.0 , 0 , 2 );
}

#prompt-text {
    -fx-font-size: 22px;
    -fx-font-family: "Arial Black";
    -fx-fill: #d4d4d4;
    -fx-effect: innershadow( three-pass-box , rgba(163, 163, 163, 0.7), 6, 0.0 , 0 , 2 );
}
#labelAdmin {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.check-box {
    -fx-border-color: lightblue;
    -fx-font-size: 12;
    -fx-border-insets: -3;
    -fx-border-radius: 3;
    -fx-border-style: dotted;
    -fx-border-width: 1;
}

.hBoxLambda {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#buttonGen {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

#prevnext {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 1 15 2 15;
}

#bevel-grey {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 2 25 2 25;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}

.samples-tree {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 0;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828290;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#CQ-combo {
	-fx-pref-width:75;
	-fx-background-color: transparent;
}

#CQ-combo:filled {
	-fx-background-size:29,29;
	-fx-background-image: url("arrow.png");
    -fx-background-repeat: no-repeat; 
    -fx-background-position: right;
	/*-fx-shape-size: 10, 10;*/
}

#CQ-combo-popup.list-view {
	-fx-pref-width:75;
}

#CQ-combo .arrow {
    -fx-padding: 3;
    /*-fx-shape: "M150 0 L150 0 L0 280 L300 280 M0 370 L300 370 L150 670 L150 670 Z";*/
}

#link {
	-fx-text-fill: #000066;
	-fx-underline: true;
	-fx-border-color: transparent;
}

#link:hover {
	-fx-text-fill: #3366ff;
}